@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Shared style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 20px 24px;
}
.teams-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.container{
    max-width: 1098px;
    margin: 85px auto;
}
.section-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* Header styling */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px 45px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 102px;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* Banner styling */
.banner{
    display: flex;
    flex-direction: column;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    margin: 32px 0 32px 0;
}
.banner-content > button{
    margin-bottom: 50px;
}

/* main section style */
main{
    margin-top: 85px;
}
/* Teams style */
.teams-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.teams-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-content .quick-list{
    color:  #727272;
    font-weight: 500;
}
.teams-content .features{
    color: #FF900E;
    font-weight: 700;
}
.teams-content > p{
    margin: 24px 0 32px 0;
}

/* Facts styles */
.facts > h3{
    margin-bottom: 24px;
}
.facts > p{
    width: 542px;
}

/* Facts Cards Style */
.facts-card-container{
    display: flex;
    justify-content: space-between;
    margin: 100px 0 180px 0;
}
.card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 45px 35px 59px 35px;
    text-align: center;
}
.card h2{
    margin: 10px 10px;
}
.card .card-title{
    font-size: 1.5rem;
}
.card-stats{
    color: #424242;
    font-size: 2.9rem;
    font-weight: 600;
}

/* media query style */

/* Mobile Devices or Small Devices */
@media screen and (max-width: 576px){

    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        gap: 40px;
        margin-bottom: 50px;
    }
    .teams-container{
        flex-wrap: wrap;
    }
    .teams-images-container{
        grid-template-columns: none;
    }
    .teams-content{
        text-align: center;
    }
}

/* Tablet / Mobile devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;
        gap: 40px;
        margin-bottom: 50px;
    }
    .teams-content{
        text-align: center;
    }
}